name: Flutter CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.0'

      - name: Install dependencies
        run: flutter pub get

      - name: Skip tests
        run: echo "Tests skipped"

      - name: Build APK
        run: flutter build apk --release   
      
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:        
          name: app-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
